{% if state == 1 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% endif %}
    {% if agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% endif %}
{% if state == 2 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% endif %}
    {% if agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% endif %}
{% if state == 3 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% endif %}
    {% if agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% endif %}
{% if state == 4 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% endif %}
    {% if agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% endif %}