{% if state == 1 %}
    {% if agreement == "Yes" %}
       Хорошая идея
    {% endif %}
    {% if agreement == "No" %}
        НЕЕЕТ
    {% endif %}
{% endif %}
{% if state == 2 %}
    {% if agreement == "Yes" %}
       Хорошая идея
    {% endif %}
    {% if agreement == "No" %}
        НЕЕЕТ
    {% endif %}
{% endif %}
{% if state == 3 %}
    {% if agreement == "Yes" %}
       Хорошая идея
    {% endif %}
    {% if agreement == "No" %}
        НЕЕЕТ
    {% endif %}
{% endif %}
{% if state == 4 %}
    {% if agreement == "Yes" %}
       Хорошая идея
    {% endif %}
    {% if agreement == "No" %}
        НЕЕЕТ
    {% endif %}
{% endif %}