{% if state == 1 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 2 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% ielf agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 3 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 4 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 5 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 6 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 7 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 8 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 9 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 10 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 11 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 12 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 13 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 14 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 15 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 16 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 17 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 18 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 19 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 20 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% elif state == 21 %}
    {% if agreement == "Yes" %}
        Понял - Понял
    {% elif agreement == "No" %}
        Не понял - Не понял
    {% endif %}
{% endif %}
