{% if state == 1 %}
    {% if agreement == "Yes" %}
        Фермеры смогли сохранить свои производства, однако пошлины ударили по нашим потребителям и вызвали ответную
        реакцию у иностранных держав(+10 к стабильности, -5 к иностранным отношениям, -5 к экономике
    {% endif %}
    {% if agreement == "No" %}
        Банкротства фермерских хозяйств привели к обеднению сельских жителей.Но мы смогли сохранить торговые отношения с
        большинством иностранных гос-в, а дешевая продукция позволит нашим городским жителям легче перенести кризис(+5 к
        экономике, +5 к иностранным отношениям, -10 к стабильности
    {% endif %}
{% endif %}
{% if state == 2 %}
    {% if agreement == "Yes" %}
        Фермеры смогли сохранить свои производства, однако пошлины ударили по нашим потребителям и вызвали ответную
        реакцию у иностранных держав(+10 к стабильности, -5 к иностранным отношениям, -5 к экономике
    {% endif %}
    {% if agreement == "No" %}
        Банкротства фермерских хозяйств привели к обеднению сельских жителей.Но мы смогли сохранить торговые отношения с
        большинством иностранных гос-в, а дешевая продукция позволит нашим городским жителям легче перенести кризис(+5 к
        экономике, +5 к иностранным отношениям, -10 к стабильности
    {% endif %}
{% endif %}
{% if state == 3 %}
    {% if agreement == "Yes" %}
        Фермеры смогли сохранить свои производства, однако пошлины ударили по нашим потребителям и вызвали ответную
        реакцию у иностранных держав(+10 к стабильности, -5 к иностранным отношениям, -5 к экономике
    {% endif %}
    {% if agreement == "No" %}
        Банкротства фермерских хозяйств привели к обеднению сельских жителей.Но мы смогли сохранить торговые отношения с
        большинством иностранных гос-в, а дешевая продукция позволит нашим городским жителям легче перенести кризис(+5 к
        экономике, +5 к иностранным отношениям, -10 к стабильности
    {% endif %}
{% endif %}
{% if state == 4 %}
    {% if agreement == "Yes" %}
        Фермеры смогли сохранить свои производства, однако пошлины ударили по нашим потребителям и вызвали ответную
        реакцию у иностранных держав(+10 к стабильности, -5 к иностранным отношениям, -5 к экономике
    {% endif %}
    {% if agreement == "No" %}
        Банкротства фермерских хозяйств привели к обеднению сельских жителей.Но мы смогли сохранить торговые отношения с
        большинством иностранных гос-в, а дешевая продукция позволит нашим городским жителям легче перенести кризис(+5 к
        экономике, +5 к иностранным отношениям, -10 к стабильности
    {% endif %}
{% endif %}