{% if state == 1 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы заключаете торговое соглашение и получаете экономические преимущества.<br>
        Ваши экономические статы повышаются на 5, а свобода слова падает на 5
    
    {% elif agreement == "No" %}
        Результат при отказе: <br>
    Ваши экономические статы падают на 5, а свобода слова повышается на 5.
    {% endif %}

{% elif state == 2 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы принимаете требования населения и проводите реформы, что улучшает поддержку
        правительства. <br>
        Ваша статистика поддержки правительства повышается на 5, но свобода слова падает на 5. <br>
    
    {% elif agreement == "No" %}
            Результат при отказе: Вы отказываетесь от требований населения, сохраняя стабильность, но подрывая поддержку
            правительства. <br>
            Ваша статистика поддержки правительства падает на 5, но свобода слова повышается на 5. <br>
    {% endif %}

{% elif state == 3 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы принимаете рекомендации экспертов и вводите жесткие экономические меры.<br>
        Ваши экономические статистики повышаются на 5, но поддержка правительства падает на 5.<br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от экономических мер, сохраняя свободу и гибкость, но рискуете усугубить
        кризис.<br>
        Ваши экономические статистики падают на 5, но поддержка правительства повышается на 5.<br>
    {% endif %}

{% elif state == 4 %}
    {% if agreement == "Yes" %}
            Результат при согласии: Вы проводите реформы и усиливаете роль региональных структур, что улучшает свободу слова.<br>
            Ваша статистика стабильности государства повышается на 5, но поддержка правительства падает на 5.<br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от реформ, сохраняя единство, но рискуя усилить внутренние конфликты.<br>
        Ваша свобода слова падает на 5, но поддержка правительства повышается на 5.<br>
    {% endif %}

{% elif state == 5 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы вступаете в войну, что улучшает отношения с союзниками, но снижает свободу слова внутри страны. <br>
        Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Свобода слова" падает на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от участия в войне, сохраняя свободу слова внутри страны, но рискуете ухудшить отношения с союзниками. <br>
        Ваши статы "Отношения с иностранными государствами" падают на 5, но "Свобода слова" повышается на 5. <br>
    {% endif %}

{% elif state == 6 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы вводите чрезвычайное положение, что повышает отношения с иностранными государствами, но снижает свободу слова. <br>
   Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Свобода слова" падает на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от введения чрезвычайного положения, сохраняя свободу слова, но рискуя усилить беспорядки. <br>
   Ваши статы "Отношения с иностранными государствами" падают на 5, но "Свобода слова" повышается на 5. <br>
    {% endif %}

{% elif state == 7 %}
    {% if agreement == "Yes" %}
           Результат при согласии: Вы принимаете гуманитарную помощь, что улучшает отношения с международными организациями, но снижает процент экономики. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падает на 5. <br>
    
    {% elif agreement == "No" %}
   Результат при отказе: Вы отказываетесь от гуманитарной помощи, сохраняя процент экономики, но рискуя ухудшить отношения с международными организациями. <br>
   Ваши статы "Отношения с иностранными государствами" падают на 5, но "Процент экономики" повышается на 5. <br>
    {% endif %}

{% elif state == 8 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы решаете разработать ресурсы, что повышает процент экономики, но снижает поддержку правительства населением и ухудшает отношения с иностранными государствами. <br>
    Ваши статы "Процент экономики" повышаются на 5, но "Поддержка правительства населением" и "Отношения с иностранными государствами" падают на 5. <br>
    
    {% elif agreement == "No" %}

   Результат при отказе: Вы решаете оставить природные ресурсы нетронутыми, сохраняя отношения с иностранными государствами и поддержку правительства населением, но рискуя упустить экономический потенциал. <br>
   Ваши статы "Процент экономики" падают на 5, но "Поддержка правительства населением" и "Отношения с иностранными государствами" повышаются на 5. <br>
    {% endif %}

{% elif state == 9 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы ужесточаете миграционную политику, что повышает поддержку правительства населением, но ухудшает отношения с иностранными государствами.<br>
    Ваши статы "Поддержка правительства населением" повышаются на 5, но "Отношения с иностранными государствами" падают на 5.<br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от ужесточения миграционной политики, сохраняя отношения с иностранными государствами, но рискуя усилить миграционный поток.<br>
    Ваши статы "Поддержка правительства населением" падают на 5, но "Отношения с иностранными государствами" повышаются на 5.<br>
    {% endif %}

{% elif state == 10 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы принимаете участие в проекте, что улучшает отношения с иностранными государствами, но снижает процент экономики.<br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падает на 5. <br>
    
    {% elif agreement == "No" %}
          Результат при отказе: Вы отказываетесь от участия в проекте, сохраняя процент экономики, но рискуя ухудшить отношения с иностранными государствами. <br>
    Ваши статы "Отношения с иностранными государствами" падают на 5, но "Процент экономики" повышается на 5. <br>
    {% endif %}

{% elif state == 11 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы принимаете участие в проекте, что улучшает отношения с иностранными государствами, но снижает процент экономики.<br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падает на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от участия в проекте, сохраняя процент экономики, но рискуя ухудшить отношения с иностранными государствами. <br>
    Ваши статы "Отношения с иностранными государствами" падают на 5, но "Процент экономики" повышается на 5. <br>
    {% endif %}

{% elif state == 12 %}
    {% if agreement == "Yes" %}
       Результат при согласии: Вы принимаете участие в проекте, что улучшает отношения с иностранными государствами, но снижает процент экономики.<br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падает на 5. <br>
    
    {% elif agreement == "No" %}
         Результат при отказе: Вы отказываетесь от участия в проекте, сохраняя процент экономики, но рискуя ухудшить отношения с иностранными государствами. <br>
    Ваши статы "Отношения с иностранными государствами" падают на 5, но "Процент экономики" повышается на 5. <br>
    {% endif %}

{% elif state == 13 %}
    {% if agreement == "Yes" %}
           Результат при согласии: Вы ужесточаете законы о кибербезопасности, что повышает поддержку государства, но снижает свободу слова. <br>
   Ваши статы "Поддержка государства" повышаются на 5, но "Свобода слова" падает на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь ужесточать законы, сохраняя свободу слова, но рискуя усилить киберугрозы. <br>
    Ваши статы "Поддержка государства" падают на 5, но "Свобода слова" повышается на 5. <br>
    {% endif %}

{% elif state == 14 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы принимаете жесткие меры, что повышает стабильность государства и улучшает отношения с иностранными государствами, но снижает процент экономики. <br>
    Ваши статы "Свобода слова" и "Отношения с иностранными государствами" повышаются на 5, но статы "Процент экономики" и "Поддержка государства" падает на 5. <br>
    
    {% elif agreement == "No" %}
           Результат при отказе: Вы отказываетесь от жестких мер, сохраняя процент экономики, но рискуя усилить нелегальную торговлю. <br>
    Ваши статы "Процент экономики" повышается на 5, но "Свобода слова" и "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}

{% elif state == 15 %}
    {% if agreement == "Yes" %}
          Результат при согласии: Вы принимаете предложение, что повышает процент экономики, но снижает свободу действий и решений внутри страны. <br>
    Ваши статы "Процент экономики" повышаются на 5, но "Свобода слова" падает на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от вступления, сохраняя свободу действий, но рискуя упустить экономические выгоды. <br>
   Ваши статы "Свобода слова" повышается на 5, но "Процент экономики" падает на 5. <br>
    {% endif %}

{% elif state == 16 %}
    {% if agreement == "Yes" %}
           Результат при согласии: Вы проводите кампанию, что повышает поддержку правительства населением и улучшает стабильность государства, но снижает процент экономики. <br>
   Ваши статы "Поддержка правительства населением" и "Свобода слова" повышаются на 5, но "Процент экономики"и "Международные отношения" падает на 5. <br>
    
    {% elif agreement == "No" %}
           Результат при отказе: Вы отказываетесь от проведения кампании, сохраняя процент экономики, но рискуя усилить недовольство в обществе. <br>
    Ваши статы "Процент экономики" повышается на 5, но "Поддержка правительства населением" и "Свобода слова" падают на 5.
    {% endif %}

{% elif state == 17 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы соглашаетесь организовать соревнование, что улучшает отношения с иностранными государствами, но снижает процент экономики. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падает на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации соревнования, сохраняя процент экономики, но рискуя ухудшить отношения с другими странами. <br>
    Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5.
    {% endif %}

{% elif state == 18 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы принимаете жесткие меры, что повышает поддержку правительства населением, но снижает процент экономики. <br>
   Ваши статы "Поддержка правительства населением" повышается на 5, но "Процент экономики" падает на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от принятия жестких мер, сохраняя процент экономики, но рискуя усилить коррупцию.<br>
    Ваши статы "Процент экономики" повышается на 5, но "Поддержка государства" падает на 5. <br>
    {% endif %}

{% elif state == 19 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы принимаете жесткие меры, что повышает поддержку правительства населением, но снижает процент экономики. <br>
   Ваши статы "Поддержка государства" повышается на 5, но "Процент экономики" падает на 5. <br>
    
    {% elif agreement == "No" %}
           Результат при отказе: Вы отказываетесь от принятия жестких мер, сохраняя процент экономики, но рискуя усилить коррупцию.<br>
    Ваши статы "Процент экономики" повышается на 5, но "Поддержка государства" падает на 5. <br>
    {% endif %}

{% elif state == 20 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы вводите карантин и ужесточаете меры, что повышает стабильность государства, но снижает процент экономики. <br>
    Ваши статы "Свобода слова" повышаются на 5, но "Процент экономики" падает на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от введения карантина, сохраняя процент экономики, но рискуя ухудшить эпидемиологическую ситуацию. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Свобода слова" падает на 5. <br>
    {% endif %}

{% elif state == 21 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 22 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 23 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 24 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 25 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 26 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 27 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 28 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 29 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 30 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 31 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 32 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 33 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 34 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 35 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 36 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 37 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 38 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 39 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 41 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% elif state == 42 %}
    {% if agreement == "Yes" %}
        Результат при согласии: Вы организуете конференцию, что улучшает отношения с иностранными государствами, но снижает доходы бюджета. <br>
    Ваши статы "Отношения с иностранными государствами" повышаются на 5, но "Процент экономики" падают на 5. <br>
    
    {% elif agreement == "No" %}
        Результат при отказе: Вы отказываетесь от организации конференции, сохраняя доходы бюджета, но рискуя упустить возможность улучшить отношения с другими странами. <br>
   Ваши статы "Процент экономики" повышается на 5, но "Отношения с иностранными государствами" падают на 5. <br>
    {% endif %}
{% endif %}