{% if state == 1 %}
    -------------------------------<br>
    Ивент: Иностранный союз предлагает заключить торговое соглашение.<br>
    Они обещают выгодные условия, но это может привести к увеличению зависимости вашей страны от этого союза.<br>
    -------------------------------<br>
{% elif state == 2 %}
    -------------------------------<br>
    Ивент: Возникли массовые протесты против вашего правительства. Население требует изменений и реформ.<br>
    -------------------------------<br>
{% elif state == 3 %}
    -------------------------------<br>
    Экономический кризис накрывает вашу страну. Международные эксперты рекомендуют ввести жесткие экономические меры для
    спасения ситуации.<br>
    -------------------------------<br>
{% elif state == 4 %}
    -------------------------------<br>
    Ваше правительство сталкивается с внутренними конфликтами и угрозами сепаратизма.<br>
    Чтобы сохранить единство, предлагается провести реформы и усилить роль региональных структур.<br>
    -------------------------------<br>
{% elif state == 5 %}
    -------------------------------<br>
    Ивент: Ваша страна оказалась втянута в международный конфликт. <br>
    Союзники просят вас вступить в войну на их стороне. <br>
    -------------------------------<br>
{% elif state == 6 %}
    -------------------------------<br>
   Ивент: Ваша страна столкнулась с массовыми беспорядками и угрозами террористических атак. <br>
   Правительство предлагает ввести чрезвычайное положение для восстановления порядка. <br>
    -------------------------------<br>
{% elif state == 7 %}
    -------------------------------<br>
   Ивент: Ваша страна столкнулась с крупным природным катаклизмом, который привел к гуманитарной катастрофе. <br>
   Международные организации предлагают гуманитарную помощь. <br>

    -------------------------------<br>
{% elif state == 8 %}
    -------------------------------<br>
   Ивент: Ваша страна обнаружила большие запасы природных ресурсов, что может принести огромную прибыль. <br>
   Однако это может привести к ущемлению прав коренных народов и негативному воздействию на окружающую среду. <br>

    -------------------------------<br>
{% elif state == 9 %}
    -------------------------------<br>
   Ивент: Ваша страна сталкивается с ростом миграции из-за военных конфликтов и экономических проблем в соседних регионах.<br>
   Население требует ужесточения миграционной политики.<br>
    -------------------------------<br>
{% elif state == 10 %}
    -------------------------------<br>
   Ивент: Международные организации предлагают вашей стране стать участником масштабного проекта по борьбе с изменением климата. <br>
    -------------------------------<br>
{% elif state == 11 %}
    -------------------------------<br>
   Ивент: Международные организации предлагают вашей стране стать участником масштабного проекта по борьбе с изменением климата. <br>
    -------------------------------<br>
{% elif state == 12 %}
    -------------------------------<br>
   Ивент: Международные организации предлагают вашей стране стать участником масштабного проекта по борьбе с изменением климата. <br>
    -------------------------------<br>
{% elif state == 13 %}
    -------------------------------<br>
    Ивент: Ваша страна столкнулась с ростом кибератак и киберугроз. <br>
    Правительство предлагает ужесточить законы о кибербезопасности и контроле за интернетом.<br>
    -------------------------------<br>
{% elif state == 14 %}
    -------------------------------<br>
    Ивент: Ваша страна сталкивается с ростом нелегальной торговли и контрабанды. <br>
    Правительство предлагает принять жесткие меры для борьбы с этим явлением. <br>
    -------------------------------<br>
{% elif state == 15 %}
    -------------------------------<br>
   Ивент: Ваша страна получила предложение о вступлении в международную экономическую организацию. <br>
   Это может принести дополнительные экономические выгоды, но организация имеет свои строгие правила и требования. <br>
    -------------------------------<br>
{% elif state == 16 %}
    -------------------------------<br>
    Ивент: Ваша страна сталкивается с ростом молодежных протестов и недовольства в обществе. <br>
    Правительство предлагает провести кампанию по привлечению молодежи к участию в политической жизни. <br>
    -------------------------------<br>
{% elif state == 17 %}
    -------------------------------<br>
    Ивент: Ваша страна получила предложение организовать международное спортивное соревнование. <br>
    Это может принести престиж и улучшить отношения с другими странами, но требует больших инвестиций.<br>
    -------------------------------<br>
{% elif state == 18 %}
    -------------------------------<br>
    Ивент: Ваша страна столкнулась с ростом коррупции в правительстве и бизнесе. <br>
    Население требует жестких мер по борьбе с коррупцией. <br>
    -------------------------------<br>
{% elif state == 19 %}
    -------------------------------<br>
    Ивент: Ваша страна столкнулась с ростом коррупции в правительстве и бизнесе. <br>
    Население требует жестких мер по борьбе с коррупцией. <br>
    -------------------------------<br>
{% elif state == 20 %}
    -------------------------------<br>
    Ивент: Ваша страна столкнулась с угрозой эпидемии. <br>
    Правительство предлагает ввести карантин и ужесточить меры по борьбе с распространением болезни. <br>
    -------------------------------<br>
{% elif state == 21 %}
    -------------------------------<br>
    Ивент: Ваша страна получила предложение организовать международную конференцию по примирению вооруженных конфликтов. <br>
    Это может принести престиж и улучшить отношения с другими странами, но требует больших инвестиций. <br>
    -------------------------------<br>
{% elif state == 22 %}
    -------------------------------<br>
    Господин Президент, после войны многие граждане лишились крова и дома, у нас нет средств, чтобы поддержать их, однако мы можем взять кредит у соседнего государства. <br>
    Стоит ли это делать? <br>
    -------------------------------<br>
{% elif state == 23 %}
    -------------------------------<br>
    Господин Президент, министерство экономики предлагает обязать банки хранить в резерве золото эквивалентное одной трети выданных клиентам денег, чтобы предотвратить ситуации, в которых банки не могут сделать выплаты по требованию клиентов. <br>
    Будет ли это решение разумным? <br>
    -------------------------------<br>
{% elif state == 24 %}
    -------------------------------<br>
    Господин Президент, среди интеллигенции бытует мнение, что наша страна должна вкладываться в строительство железных дорог, однако простой люд не разделяет таких суждений. <br>
    Стоит ли нам прислушаться к интеллегенции? <br>
    -------------------------------<br>
{% elif state == 25 %}
    -------------------------------<br>
    Господин Президент, наша страна находится в демографической яме, не будет ли разумным поощерять народ за рождение детей? <br>
    -------------------------------<br>
{% elif state == 26 %}
    -------------------------------<br>
    Господин Президент, немногочисленные ученные, оставшиеся в нашей стране просят финансировани на закупку редчайшего металла у соседней страны. Выделить ли деньги? <br>
    -------------------------------<br>
{% elif state == 27 %}
    -------------------------------<br>
    Господин Президент, некоторые частные газету призывают народ менять свои деньги в банках на драгоценные металлы. Стоит ли нам ограничить СМИ? <br>
    -------------------------------<br>
{% elif state == 28 %}
    -------------------------------<br>
    Господин Президент, после войны многие бывшие солдаты остались без крова. <br>
    Стоит ли нам ввести пенсию для них? <br>
    -------------------------------<br>
{% elif state == 29 %}
    -------------------------------<br>
    Господин президент, мы можем попросить помощи у иностранных специалистов в области экономики для преодоления кризиса, однако не так давно мы воевали с их государством. <br>
    Стоит ли это делать? <br>
    -------------------------------<br>
{% elif state == 30 %}
    -------------------------------<br>
    Господин президент, правые радикалы хотят провести митинг на центральной площади. <br>
    Стоит ли нам разогнать их? <br>
    -------------------------------<br>
{% elif state == 31 %}
    -------------------------------<br>
    В соседнем государстве революция, к власти могут прийти религиозные фанатики. Другие державы предлагют ввести туда войска и подавить революцию. <br>
    Стоит ли оказать помощь в борьбе против революционеров? <br>
    -------------------------------<br>
{% elif state == 32 %}
    -------------------------------<br>
    Кризис очень сильно ударил по нашим фермерам, а конкуренция с дешевой иностранной продукцией ставит их на грань выживания.Они требуют введения дополнительных пошлин на иностранные товары, чтобы остаться на плаву. <br>
    Поддержит ли их правительство? <br>
    -------------------------------<br>
{% elif state == 33 %}
    -------------------------------<br>
    Главным спутником кризиса с самого начала была безработица.Миллионы людей потеряли свой единственный источник дохода, и, вероятно, ситуация в ближайшее время не станет лучше.Сейчас многие наши политики предлагают развернуть программы общественных работ за счёт бюджета, что поможет временно занять безработных. <br>
    Должны ли мы поддержать их? <br>
    -------------------------------<br>
{% elif state == 34 %}
    -------------------------------<br>
    Иностранный союз предлагает заключить торговое соглашение. Они обещают выгодные условия, но это может привести к увеличению зависимости вашей страны от этого союза. <br>
    Вы дадите свое согласие на подписание этого договора? <br>
    -------------------------------<br>
{% elif state == 35 %}
    -------------------------------<br>
    В последнее время мы сталкиваемся с внутренними конфликтами и угрозами сепаратизма.Мы могли бы расширить автономию регионов, однако это также ослабит центральное правительство, из-за чего многие наши планы будет сложнее осуществить. <br>
    Поддержим ли мы большую автономию регионов? <br>
    -------------------------------<br>
{% elif state == 36 %}
    -------------------------------<br>
    Граждане нашей страны, поддавшись панике, спешат в ближайший банк, чтобы забрать свои вклады.Банки не могут позволить себе выдавать такие деньги. <br>
    Должны ли мы вмешаться и временно заморозить счета? <br>
    -------------------------------<br>
{% elif state == 37 %}
    -------------------------------<br>
    В последнее время мы сталкиваемся с нехваткой бюджетных поступлений, из-за чего многие эксперты считают невозможным дальнейшее расширение нашей армии.Однако у нас есть обязательства перед нашими союзниками, стоит ли пересмотреть их? <br>
    -------------------------------<br>
{% elif state == 38 %}
    -------------------------------<br>
    Правительство продолжает сокращение расходов, однако денег в бюджете по-прежнему не хватает,возможно, нам стоит ввести дополнительные налоги, это противоречит нашим предвыборным обещаниям и наши граждане будут не в восторге, но иначе у нас совсем закончатся деньги. <br>
    Решится ли на такое правительство? <br>
    -------------------------------<br>
{% elif state == 39 %}
    -------------------------------<br>
    Наши компании, как они утверждают, сталкиваются с гораздо большими ограничениями со стороны гос-ва, чем их иностранные конкуренты, что не позволяет им успешно конкурировать с ними. <br>
    Многие регуляции существуют с незапамятных времен и имеют серьезные основания для их существования, но, возможно, в условиях кризиса стоит пересмотреть их? <br>
    -------------------------------<br>
{% elif state == 40 %}
    -------------------------------<br>
    Экономический кризис затронул не только нашу страну, и уже давно существует мнение, что выходить из него страны должны совместными усилиями.Нам предложили подписать ряд договоренностей, по которым участники обязуются координировать свои действия.Это может помочь выйти из кризиса, но ослабит наш суверенитет. <br>
    Подпишем ли мы их? <br>
    -------------------------------<br>
{% elif state == 41 %}
    -------------------------------<br>
    Рост цен сильно бьет по карманам нашим граждан, центральный банк предлагает поднять ставку и сократить количество денег в нашей экономике, однако наши предприниматели утверждают, что подобные меры в условиях кризиса только отложат выход из него. <br>
    Поддержим ли мы центральный банк? <br>
    -------------------------------<br>
{% elif state == 42 %}
    -------------------------------<br>
    Скоро пройдут выборы в парламент. За последние месяцы радикалы набрали поддержку в обществе. <br>
    Стоит ли их допускать до управления страной? <br>
    -------------------------------<br>
{% endif %}























