{% if state == 1 %}
    -------------------------------<br>
    Ивент: Иностранный союз предлагает заключить торговое соглашение.<br>
    Они обещают выгодные условия, но это может привести к увеличению зависимости вашей страны от этого союза.<br>
    -------------------------------<br>
{% elif state == 2 %}
    -------------------------------<br>
    Ивент: Возникли массовые протесты против вашего правительства. Население требует изменений и реформ.<br>
    -------------------------------<br>
{% elif state == 3 %}
    -------------------------------<br>
    Экономический кризис накрывает вашу страну. Международные эксперты рекомендуют ввести жесткие экономические меры для
    спасения ситуации.<br>
    -------------------------------<br>
{% elif state == 4 %}
    -------------------------------<br>
    Ваше правительство сталкивается с внутренними конфликтами и угрозами сепаратизма.<br>
    Чтобы сохранить единство, предлагается провести реформы и усилить роль региональных структур.<br>
    -------------------------------<br>
{% elif state == 5 %}
    -------------------------------<br>
    Ивент: Ваша страна оказалась втянута в международный конфликт. <br>
    Союзники просят вас вступить в войну на их стороне. <br>
    -------------------------------<br>
{% elif state == 6 %}
    -------------------------------<br>
   Ивент: Ваша страна столкнулась с массовыми беспорядками и угрозами террористических атак. <br>
   Правительство предлагает ввести чрезвычайное положение для восстановления порядка. <br>
    -------------------------------<br>
{% elif state == 7 %}
    -------------------------------<br>
   Ивент: Ваша страна столкнулась с крупным природным катаклизмом, который привел к гуманитарной катастрофе. <br>
   Международные организации предлагают гуманитарную помощь. <br>

    -------------------------------<br>
{% elif state == 8 %}
    -------------------------------<br>
   Ивент: Ваша страна обнаружила большие запасы природных ресурсов, что может принести огромную прибыль. <br>
   Однако это может привести к ущемлению прав коренных народов и негативному воздействию на окружающую среду. <br>

    -------------------------------<br>
{% elif state == 9 %}
    -------------------------------<br>
   Ивент: Ваша страна сталкивается с ростом миграции из-за военных конфликтов и экономических проблем в соседних регионах.<br>
   Население требует ужесточения миграционной политики.<br>

    -------------------------------<br>
{% elif state == 10 %}
    -------------------------------<br>
   Ивент: Международные организации предлагают вашей стране стать участником масштабного проекта по борьбе с изменением климата. <br>

    -------------------------------<br>
{% elif state == 11 %}
    -------------------------------<br>
   Ивент: Международные организации предлагают вашей стране стать участником масштабного проекта по борьбе с изменением климата. <br>

    -------------------------------<br>
{% elif state == 12 %}
    -------------------------------<br>
   Ивент: Международные организации предлагают вашей стране стать участником масштабного проекта по борьбе с изменением климата. <br>

    -------------------------------<br>
{% elif state == 13 %}
    -------------------------------<br>
    Ивент: Ваша страна столкнулась с ростом кибератак и киберугроз. <br>
    Правительство предлагает ужесточить законы о кибербезопасности и контроле за интернетом.<br>

    -------------------------------<br>
{% elif state == 14 %}
    -------------------------------<br>
    Ивент: Ваша страна сталкивается с ростом нелегальной торговли и контрабанды. <br>
    Правительство предлагает принять жесткие меры для борьбы с этим явлением. <br>

    -------------------------------<br>
{% elif state == 15 %}
    -------------------------------<br>
   Ивент: Ваша страна получила предложение о вступлении в международную экономическую организацию. <br>
   Это может принести дополнительные экономические выгоды, но организация имеет свои строгие правила и требования. <br>

    -------------------------------<br>
{% elif state == 16 %}
    -------------------------------<br>
    Ивент: Ваша страна сталкивается с ростом молодежных протестов и недовольства в обществе. <br>
    Правительство предлагает провести кампанию по привлечению молодежи к участию в политической жизни. <br>

    -------------------------------<br>
{% elif state == 17 %}
    -------------------------------<br>
    Ивент: Ваша страна получила предложение организовать международное спортивное соревнование. <br>
    Это может принести престиж и улучшить отношения с другими странами, но требует больших инвестиций.<br>

    -------------------------------<br>
{% elif state == 18 %}
    -------------------------------<br>
    Ивент: Ваша страна столкнулась с ростом коррупции в правительстве и бизнесе. <br>
    Население требует жестких мер по борьбе с коррупцией. <br>

    -------------------------------<br>
{% elif state == 19 %}
    -------------------------------<br>
    Ивент: Ваша страна столкнулась с ростом коррупции в правительстве и бизнесе. <br>
    Население требует жестких мер по борьбе с коррупцией. <br>

    -------------------------------<br>

{% elif state == 20 %}
    -------------------------------<br>
    Ивент: Ваша страна столкнулась с угрозой эпидемии. <br>
    Правительство предлагает ввести карантин и ужесточить меры по борьбе с распространением болезни. <br>

    -------------------------------<br>
{% elif state == 21 %}
    -------------------------------<br>
    Ивент: Ваша страна получила предложение организовать международную конференцию по примирению вооруженных конфликтов. <br>
    Это может принести престиж и улучшить отношения с другими странами, но требует больших инвестиций. <br>

    -------------------------------<br>
{% endif %}























