{% if state1 == 1 %}
-------------------------------<br>
Ивент: Иностранный союз предлагает заключить торговое соглашение.<br>
Они обещают выгодные условия, но это может привести к увеличению зависимости вашей страны от этого союза.<br>
    Результат при согласии: Вы заключаете торговое соглашение и получаете экономические преимущества.<br>
Ваши экономические статы повышаются на 5, а стабильность государства падает на 5.<br>
    Результат при отказе: Вы отказываетесь от торгового соглашения, сохраняя независимость, но упускаете экономические выгоды.<br>
Ваши экономические статы падают на 5, а стабильность государства повышается на 5.<br>
-------------------------------<br>
{% elif state1 == 2 %}
-------------------------------<br>
Ивент: Возникли массовые протесты против вашего правительства. Население требует изменений и реформ.<br>
    Результат при согласии: Вы принимаете требования населения и проводите реформы, что улучшает поддержку правительства. <br>
Ваша статистика поддержки правительства повышается на 5, но стабильность государства падает на 5. <br>
    Результат при отказе: Вы отказываетесь от требований населения, сохраняя стабильность, но подрывая поддержку правительства. <br>
Ваша статистика поддержки правительства падает на 5, но стабильность государства повышается на 5. <br>
-------------------------------<br>
{% elif state1 == 3 %}
-------------------------------<br>
Экономический кризис накрывает вашу страну. Международные эксперты рекомендуют ввести жесткие экономические меры для спасения ситуации.<br>
    Результат при согласии: Вы принимаете рекомендации экспертов и вводите жесткие экономические меры.<br>
Ваши экономические статистики повышаются на 5, но поддержка правительства падает на 5.<br>
    Результат при отказе: Вы отказываетесь от экономических мер, сохраняя свободу и гибкость, но рискуете усугубить кризис.<br>
Ваши экономические статистики падают на 5, но поддержка правительства повышается на 5.<br>
-------------------------------<br>
{% elif state1 == 4 %}
-------------------------------<br>
Ваше правительство сталкивается с внутренними конфликтами и угрозами сепаратизма.<br>
Чтобы сохранить единство, предлагается провести реформы и усилить роль региональных структур.<br>
    Результат при согласии: Вы проводите реформы и усиливаете роль региональных структур, что улучшает стабильность государства.<br>
Ваша статистика стабильности государства повышается на 5, но поддержка правительства падает на 5.<br>
    Результат при отказе: Вы отказываетесь от реформ, сохраняя единство, но рискуя усилить внутренние конфликты.<br>
Ваша статистика стабильности государства падает на 5, но поддержка правительства повышается на 5.<br>
-------------------------------<br>
{% endif %}