{% if state == 1 %}
    {% if agreement == "Yes" %}
        0,0,5,-5
    {% endif %}
    {% if agreement == "No" %}
        0,-0,-5,5
    {% endif %}
{% endif %}
{% if state == 2 %}
    {% if agreement == "Yes" %}
        0,5,0,-5
    {% endif %}
    {% if agreement == "No" %}
        0,-5,0,5
    {% endif %}
{% endif %}
{% if state == 3 %}
    {% if agreement == "Yes" %}
        0,-5,5,0
    {% endif %}
    {% if agreement == "No" %}
        0,5,-5,0
    {% endif %}
{% endif %}
{% if state == 4 %}
    {% if agreement == "Yes" %}
        0,-5,0,5
    {% endif %}
    {% if agreement == "No" %}
        0,5,0,5
    {% endif %}
{% endif %}
{% if state == 5 %}
    {% if agreement == "Yes" %}
        5,0,0,-5
    {% endif %}
    {% if agreement == "No" %}
        -5,0,0,5
    {% endif %}
{% endif %}
{% if state == 6 %}
    {% if agreement == "Yes" %}
        5,0,0,-5
    {% endif %}
    {% if agreement == "No" %}
        -5,0,0,5
    {% endif %}
{% endif %}
{% if state == 7 %}
    {% if agreement == "Yes" %}
        5,0,-5,0
    {% endif %}
    {% if agreement == "No" %}
        -5,0,5,0
    {% endif %}
{% endif %}
{% if state == 8 %}
    {% if agreement == "Yes" %}
        0,-5,5,0
    {% endif %}
    {% if agreement == "No" %}
        0,5,-5,0
    {% endif %}
{% endif %}
{% if state == 9 %}
    {% if agreement == "Yes" %}
        -5,5,0,0
    {% endif %}
    {% if agreement == "No" %}
        5,-5,0,0
    {% endif %}
{% endif %}
{% if state == 10 %}
    {% if agreement == "Yes" %}
        5,0,-5,0
    {% endif %}
    {% if agreement == "No" %}
        -5,0,5,0
    {% endif %}
{% endif %}
{% if state == 11 %}
    {% if agreement == "Yes" %}
        5,0,-5,0
    {% endif %}
    {% if agreement == "No" %}
        -5,0,5,0
    {% endif %}
{% endif %}
{% if state == 12 %}
    {% if agreement == "Yes" %}
        5,-0,-5,0
    {% endif %}
    {% if agreement == "No" %}
        -5,0,5,0
    {% endif %}
{% endif %}
{% if state == 13 %}
    {% if agreement == "Yes" %}
        0,5,0,-5
    {% endif %}
    {% if agreement == "No" %}
        0,5,0,-5
    {% endif %}
{% endif %}
{% if state == 14 %}
    {% if agreement == "Yes" %}
        5,-5,-5,5
    {% endif %}
    {% if agreement == "No" %}
        -5,5,5,-5
    {% endif %}
{% endif %}
{% if state == 15 %}
    {% if agreement == "Yes" %}
        0,0,5,-5
    {% endif %}
    {% if agreement == "No" %}
        0,0,-5,5
    {% endif %}
{% endif %}
{% if state == 16 %}
    {% if agreement == "Yes" %}
        -5,5,-5,5
    {% endif %}
    {% if agreement == "No" %}
        5,-5,5,-5
    {% endif %}
{% endif %}
{% if state == 17 %}
    {% if agreement == "Yes" %}
        5, 0, -5 ,0
    {% endif %}
    {% if agreement == "No" %}
        -5,0,5,0
    {% endif %}
{% endif %}
{% if state == 18 %}
    {% if agreement == "Yes" %}
        0,5,-5,0
    {% endif %}
    {% if agreement == "No" %}
        0,-5,5,0
    {% endif %}
{% endif %}
{% if state == 19 %}
    {% if agreement == "Yes" %}
        0,5,-5,0
    {% endif %}
    {% if agreement == "No" %}
        0,-5,5,0
    {% endif %}
{% endif %}

{% if state == 20 %}
    {% if agreement == "Yes" %}
        0,0,-5,5
    {% endif %}
    {% if agreement == "No" %}
        0,0,5 , -5
    {% endif %}
{% endif %}
{% if state == 21 %}
    {% if agreement == "Yes" %}
        5,0,-5,0
    {% endif %}
    {% if agreement == "No" %}
        -5,0,5,0
    {% endif %}
{% endif %}
