{% if reason == 'foreign' %}
    Ваши решения привели наше государство к полной дипломатической и экономической изоляции!Наши посольства закрыты в
    большинстве стран, а дипломаты вернулись домой.Наши товары не экспортируются, импорт свелся к нулю.Хорошие отношения
    с другими странами в прошлом, как и наше место на мировой арене. /start
{% elif reason == 'domestic' %}
    Еще недавно люди голосовали за Вас, шли за Вами, однако Вы лишились их поддержки, теперь, встретив Вас на улице, они если не закидают Вас камнями, то как минимум обойдут стороной, старяясь не замечать. Народ требуют избрания нового президента и сенат вынужден объявить Вам импичмент. Ваша политическая карьера окончена... /start
{% elif reason == 'money' %}
    Мы возлагали на Вас большие надежды - Народ верил в Вас, однако сейчас абсолютно понятно, что все Ваши обещания были 
    ложью! Наши граждане живут в нищете, наше экономическое положение хуже, чем у стран третьего мира, - и все это Ваша
    вина. Возможно, новый президент сможет все исправить, по крайней мере в это верят люди... /start
{% elif reason == 'freedom' %}
    Свобода — основополагающий принцип демократии и некогда нашего государства. Гражданское общество всегда было основой нашей стабильности и нашего процветания, однако Вы явно были иного мнения. Сегодня люди боятся перечить Вам или кому-либо из верхушки. Теперь государством управляет физическая сила. Не далек день, когда наши без преувеличения Великие полководцы посчитают Вас ненужным и свергнут. /start
{% endif %}