{% if reason == 'foreign' %}
Ваши решения привели наше государство к полной дипломатической и экономической изоляции!Наши посольства закрыты в большинстве стран, а дипломаты вернулись домой.Наши товары не экспортируются, импорт свелся к нулю.Хорошие отношения с другими странами в прошлом, как и наше место на мировой арене. /start
{% elif reason == 'domestic' %}
Ваши решения привели наше государство к полной дипломатической и экономической изоляции!Наши посольства закрыты в большинстве стран, а дипломаты вернулись домой.Наши товары не экспортируются, импорт свелся к нулю.Хорошие отношения с другими странами в прошлом, как и наше место на мировой арене. /start
{% elif reason == 'money' %}
Ваши решения привели наше государство к полной дипломатической и экономической изоляции!Наши посольства закрыты в большинстве стран, а дипломаты вернулись домой.Наши товары не экспортируются, импорт свелся к нулю.Хорошие отношения с другими странами в прошлом, как и наше место на мировой арене. /start
{% elif reason == 'freedom' %}
Ваши решения привели наше государство к полной дипломатической и экономической изоляции!Наши посольства закрыты в большинстве стран, а дипломаты вернулись домой.Наши товары не экспортируются, импорт свелся к нулю.Хорошие отношения с другими странами в прошлом, как и наше место на мировой арене. /start
{% endif %}