{% if state == 1 %}
    {% if agreement == "Yes" %}
        5,-5,0,10
    {% endif %}
    {% if agreement == "No" %}
        5,-5,0,10
    {% endif %}
{% endif %}
{% if state == 2 %}
    {% if agreement == "Yes" %}
        5,-5,0,10
    {% endif %}
    {% if agreement == "No" %}
        5,-5,0,10
    {% endif %}
{% endif %}
{% if state == 3 %}
    {% if agreement == "Yes" %}
        5,-5,0,10
    {% endif %}
    {% if agreement == "No" %}
        5,-5,0,10
    {% endif %}
{% endif %}
{% if state == 4 %}
    {% if agreement == "Yes" %}
        5,-5,0,10
    {% endif %}
    {% if agreement == "No" %}
        5,-5,0,10
    {% endif %}
{% endif %}
