{% if state == 0 %}
Привет! <br><br>
<br>
Начнём?
{% elif state == 1 %}
-------------------------------<br>
Милорд, на нас напали варвары - нам стоит укрепить границы с севера<br>
иначе ряды нашей армии могут проредеть<br>
Просто говорю чтобы набрать больше текста<br>
Могу так бескончено блаблабла<br>
-------------------------------<br>
{% elif state == 2 %}
Просто хочу показть как это работает<br>
Будет пасхалкой
{% endif %}