{% if state == 0 %}
    Привет! <br>
    Это игра на основе Reigns только в тг<br>
    <br>
    Начнём?
{% elif state == 1 %}
    -------------------------------<br>
    Приветствую, господин президент, вы были избраны в непростое для нашей страны время.<br>
    Экономический кризис уже нанёс серьёзный ущерб, но это только начало.<br>
    Вам предстоит принимать важные решения, которые будут влиять на одну из 4-х характеристик гос-ва:<br>
    🌍-отношения с иностранными гос-вами<br>
    👍-поддержка правительства населением<br>
    💰-процент, показывающий отношение текущего объема экономики к докризисному<br>
    🏛️-Свобода слова<br>
    Обратите внимание, что любое решение одновременно и понижает, и увеличивает какие-то из хар-тик.<br>
    Если какая-то из хар-тик опустится ниже 20,вы проиграли.<br>
    Вашей целью является поднять 💰 до 100. Удачи, господин президент.<br>
    -------------------------------<br>
{% elif state == 2 %}
    Просто хочу показть как это работает<br>
    Будет пасхалкой
{% endif %}